* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-continer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.browser-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3367d6;
  height: 20px;
  background-size: cover;
}

.history {
  height: 15px;
  width: 30px;
}

.search-img {
  height: 15px;
  width: 15px;
  background-color: #2850a7;
}
